<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ANPR Matching</title>
    <link rel="stylesheet" href="/static/NRTC/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/NRTC/base-style.css" type="text/css">


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://tads.tracsis.com/dm/plugins/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div id = "topbar"></div>

<div>
<div  style="background-color: #f6f6f6;" class="header-bar">
    <div>
    <a href="http://tracsistraffic.com">
        <img id="tracsis-logo"    src= "/static/NRTC/Tracsisplcnewlogo.png" alt="Tracsis Traffic and Data Services" width = "100" height="50" />

    </a></div>
    <div style="background-color: #f6f6f6;padding-left:10px;height:50px"><h3> NRTC-Site Assessment App</h3></div>
        </div>

</div>

<div style="display: flex;flex-direction: column;justify-content: center;   align-items: center;margin-top:30px">
    <h2>Site Assessment Complete. Thank You</h2>
    <form id="end" action="/nrtc/saf" method=get >
            {% csrf_token %}

        <div style="margin-top:20px">
            <button class = "app-button" type="submit" form="end" value="Submit">Start Again</button></div>

    </form>

        <div >
            <button class = "app-button" onclick="window.location='/nrtc/homeSafe'">Home Safe</button></div>


</div>


</body>

<script>


</script>
</html>