<!DOCTYPE html>


<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>TADS.Tracsis Data Monitoring</title>

<link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/static/base-style.css" type="text/css">


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://tads.tracsis.com/dm/plugins/bootstrap/js/bootstrap.min.js"></script></head>

<body>
	<div id="message-box" class="msg-hidden"></div>
	<div id="wrapper">
		<div class="header">
	<header class="header-inner">
		<a href="http://tracsistraffic.com">
			<img id="tracsis-logo"   src= "/static/Tracsisplcnewlogo.png"   width="132" alt="Tracsis Traffic and Data Services" />
        	<img id="tracsis-logo2" src="/static/Traffic and Data Services-grey.png" width="300" alt="Tracsis Traffic and Data Services" />
        </a>
	</header>
</div>
        <ul class="navigation">

	    <li>Logged in as: {{request.session.username}}</li>	<li> - </li>

        <div>
        <ul class="office-list">
           <li> <a >Currently working on CP No: {{projectNo}}</a></li>
            <li><a href="/nrtc/projectsList" style="padding-right: 50px;">View Project List</a></li>
            <li><form id="Project-Search" action="/nrtc/searchProject" method=post style="display: inline;">
                    {% csrf_token %}
                    <b>Project No. </b><INPUT TYPE = 'TEXT' Name ='projectNo'  value="" maxlength="20">
                    <a href="javascript:{}" onclick="document.getElementById('Project-Search').submit();" >Search</a>

            </form></li>

    </ul>
	</div></ul>


        <div class="content-container" id="container-edit-job" style="float: left;margin-top:80px;padding-left:35%;margin-left: 10px;">
			<div class="content" id="content-edit-job">
				<div id="edit-outer">
					<div id="edit" class="box">
						<div class="box-header">
						</div>
						<div class="box-inner">
							<form id = "project" action="/ANPR/saveProject/{{projectNo}}" method="post" enctype="multipart/form-data">
                                <table class="box-table">
                                {% csrf_token %}
                                {% for field in project %}
                                    <tr>
                                    <td>{{ field.errors }}</td>
                                    <td>{{ field.label_tag }} </td>
                                   <td> {{ field }}</td>
                                    </tr>
                                {% endfor %}

                                </table>

                            </form>
						</div>
                        <div id="edit-project" class="box-footer">
                                    <a href="javascript:{}" onclick="document.getElementById('project').submit();">Next</a>
                                </div>
					</div>
				</div>
			</div>
		</div>




	</div>

</body>

</html>